
@{
    ViewBag.Title = "EraseChargesBetweenTwoDatesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    
}

<div class="layout-content">

    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">

        <div class="card mb-2">
            <div class="card-body" style="padding: 0px 24px 16px 24px">
                <form role="form" class="form-inline mt-4">
                    <div class="form-group mr-5">
                        <label class="form-label mr-3">From Date</label>
                        <input type="text" class="form-control datepicker-features" name="FromDate" id="FromDate" placeholder="From Date">
                        <small id="FromDate_ToolTip" class="" style="display:none">Enter From Date</small>
                    </div>
                    <div class="form-group mr-5">
                        <label class="form-label mr-3">To Date</label>
                        <input type="text" class="form-control datepicker-features" name="ToDate" id="ToDate" placeholder="To Date">
                        <small id="ToDate_ToolTip" class="" style="display:none">Enter To Date</small>
                    </div>

                    <div class="form-group mr-5">
                        <button type="button" id="btnViewData" class="btn btn-primary mr-3"> View Data </button>
                        <button type="button" id="btnEraseData" class="btn btn-primary"> Erase Data </button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col col-md-3">
                    <h6 class="card-header">
                        Payment Data
                    </h6>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Estimate</th>
                            <th>Visit Charge</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span id="TotalEstimate"></span></td>
                            <td><span id="TotalVisitCharge"></span></td>
                            <td><span id="TotalPayment"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            

        </div>
    </div>

</div>
<!-- / Content -->
<!-- Layout footer -->
@Html.Partial("FooterBar")
<!-- / Layout footer -->

@section scripts {


    <script>

        $(document).ready(function () {
            $("#btnViewData").click(function (e) {
                EraseChargesBetweenTwoDates(true, false);
            });
            $("#btnEraseData").click(function (e) {
                EraseChargesBetweenTwoDates(false, true);
            });
        });


        function fnValidateSearchform() {

            var IsValid = true;
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();

            if (fromDate === "") {
                $("#FromDate").addClass("is-invalid");
                toastr["error"]("Enter From Date");
                IsValid = false;
            }
            else {
                $("#FromDate").removeClass("is-invalid");
                $("#FromDate").next().removeClass("invalid-feedback").hide();
            }

            if (toDate === "") {
                $("#ToDate").addClass("is-invalid");
                toastr["error"]("Enter To Date");
                IsValid = false;
            }
            else {
                $("#ToDate").removeClass("is-invalid");
                $("#ToDate").next().removeClass("invalid-feedback").hide();
            }

            return IsValid;
        }


        function EraseChargesBetweenTwoDates(viewData, eraseData) {

           

                if (fnValidateSearchform()) {
                    var fromDate = $("#FromDate").val();
                    var toDate = $("#ToDate").val();

                    var Url = "/Job/EraseChargesBetweenTwoDates"

                    $.ajax({
                        type: "POST",
                        url: Url,
                        data: { FromDate: fromDate, ToDate: toDate, ViewData: viewData, EraseData: eraseData },
                        cache: false,
                        success: function (result) {

                            if (result !== null && result.data !== null)
                            {
                                var resData = result.data;

                                $("#FromDate").html(resData.FromDate);
                                $("#ToDate").html(result.ToDate);


                                if (resData.Responce === false)
                                {
                                    toastr["error"](resData.Message);
                                }
                                else
                                {

                                    toastr["success"](resData.Message);

                                    $("#TotalEstimate").html(resData.TotalEstimate);
                                    $("#TotalVisitCharge").html(resData.TotalVisitCharge);
                                    $("#TotalPayment").html(resData.TotalPayment);

                                }

                            }
                        }
                    });
                }
        }
    </script>
}

