@model ServiceCenter.Models.CompanyMaster
@{
    ViewBag.Title = "Company Form";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Select2JSONData = !string.IsNullOrEmpty(Model.Select2JSON) ? Model.Select2JSON : "";
    string CategoryListJson = !string.IsNullOrEmpty(Model.CategoryListJson) ? Model.CategoryListJson : "";
}

@section style {

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="layout-content">

    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h6 class="card-header">
                Company Form
            </h6>
            <div class="card-body">
                <div class="form-row">
                    @Html.HiddenFor(m => m.CompanyId)
                    <div class="form-group col-md-4">
                        <label class="form-label">Company Name</label>
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                        <small id="CompanyNameToolTip" class=""></small>
                    </div>
                </div>

                <table class="table table-borderless table-dark" id="categoryTable">
                    <thead class="">
                        <tr>
                            <th>Category Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <div class="form-row">
                    <button id="btnsubmit" class="btn btn-default"> Submit </button>
                </div>
            </div>
        </div>

    </div>
    <!-- / Content -->
    <!-- Layout footer -->
    @Html.Partial("FooterBar")
    <!-- / Layout footer -->

    @section scripts {

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="~/Scripts/ProjectJs/MasterForms.js"></script>
        <script src="~/Content/assets/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

        <script>


            $(document).ready(function () {

                $("#categoryTable").hide();

                var categoryListData = '@CategoryListJson';

                if (categoryListData !== "" || categoryListData !== undefined) {

                    var objCategoryList = JSON.parse(categoryListData.replace(/&quot;/g, '"'));

                    var rowVal = "";

                    $.each(objCategoryList, function (key, value) {
                        console.log(key + ": " + value);

                        rowVal += '<tr> <tb scope="row">' + key + '</tb> <td> ' + value.CategoryName + '</td></tr>';

                        $("#categoryTable tbody").html(rowVal);

                        $("#categoryTable").show();
                    });
                }


                $("#btnsubmit").click(function (e) {
                    InsertUpdateCompany();
                });

            });

        </script>
    }

</div>