@{
    ViewBag.Title = "Item List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    @*<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.css">*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="layout-content">

    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <div class="card mb-2">
            <div class="card-body" style="padding: 3px 24px 0px 24px">
                <form role="form">
                    <div class="row">
                        <div class="col col-md-2">
                            <div class="form-group">
                                <label class="form-label">Item Name</label>
                                <input type="text" class="form-control" name="ItemName" id="ItemName" placeholder="Item Name">
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="form-group">
                                <label class="form-label">Item Name</label>
                                <input type="text" class="form-control" name="ItemName" id="ItemName" placeholder="Item Name">
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="form-group">
                                <label class="form-label">Category</label>
                                <select class="form-control" name="Category" id="Category"></select>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="form-group">
                                <label class="form-label">Company</label>
                                <select class="form-control" name="Company" id="Company"></select>
                            </div>
                        </div>
                        
                        <div class="col col-md-4 pt-4">
                            <button type="submit" class="btn btn-primary" id="btnAdvanceSearch"><span class="fas fa-search"></span>&nbsp;&nbsp;Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col col-md-3">
                    <h6 class="card-header">
                        Item List
                    </h6>
                </div>
                <div class="col col-md-9 text-right pr-4">
                    <a href="/Master/ItemForm" class="btn icon-btn btn-outline-primary mt-2">
                        <span class="fa fa-plus-circle"></span>
                    </a>
                </div>

            </div>
            <div class="card-datatable table-responsive">
                <table class="datatables-demo table table-striped table-bordered" id="tblItemList">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Item Name</th>
                            <th>Item Keywords</th>
                            <th>Technician</th>
                            <th>Category</th>
                            <th>Company</th>
                            <th>Status</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <!-- Layout footer -->
    @Html.Partial("FooterBar")
    <!-- / Layout footer -->

    @section scripts {


        <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        @*<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.js"></script>*@
        <script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script src="~/Scripts/ProjectJs/MasterForms.js"></script>

        <script>

            $(document).ready(function () {
                /* $('#tblJobList').DataTable({
                     responsive: true
                 });
                 */
                //LoadJobListTable();

                $('#Company').select2({
                    placeholder: "Company Name",
                    minimumInputLength: 3,
                    allowClear: true,
                    delay: 250,
                    cache: true,
                    ajax: {
                        url: "/Master/CompanyDD",
                        dataType: 'json',
                        type: 'Get',
                        data: function (params) {
                            var query = {
                                match: params.term,
                                page: params.page || 1,
                                pageSize: params.pageSize || 5
                            }
                            return query;
                        },
                        processResults: function (data, params) {
                            console.log(params);
                            return {
                                results: data.items,
                                page: params.page,
                                pagination: {
                                    more: (params.page * 5) < data.total_count
                                }
                            }
                        },
                    },
                });

                $('#Category').select2({
                    placeholder: "Category Name",
                    minimumInputLength: 3,
                    allowClear: true,
                    delay: 250,
                    cache: true,
                    ajax: {
                        url: "/Master/CategoryDD",
                        dataType: 'json',
                        type: 'Get',
                        data: function (params) {
                            var query = {
                                match: params.term,
                                page: params.page || 1,
                                pageSize: params.pageSize || 5
                            }
                            return query;
                        },
                        processResults: function (data, params) {
                            console.log(params);
                            return {
                                results: data.items,
                                page: params.page,
                                pagination: {
                                    more: (params.page * 5) < data.total_count
                                }
                            }
                        },
                    },
                });


                fnBindItemListData();
            });

            var hCols = [];
            var ChId = "";
            var ValidPrint = 0;
            var srNo = 1;
            var table;

            function fnBindItemListData() {


                table = $('#tblItemList').DataTable({
                    "paging": true,
                    "pageLength": $('#PageSize').val(),
                    "bLengthChange": false,
                    "autoWidth": true,
                    "processing": true,
                    "serverSide": true,
                    "filter": false,
                    "responsive": true,
                    "orderMulti": false,
                    "ajax":
                    {
                        "url": "/Master/GetItemList",
                        "data": function (d) {
                            d.ItemName = $("#ItemName").val();
                            d.ItemKeyword = $("#ItemKeyword").val();
                            d.CategoryName = $("#Category").val();
                            d.CompanyName = $("#Company").val();
                        },
                        "type": "POST",
                        "dataType": "JSON"
                    },
                    "columns": [
                        { "data": "RowNo", "autoWidth": true },
                        { "data": "ItemName", "autoWidth": true },
                        { "data": "ItemKeyword", "autoWidth": true },
                        { "data": "Technician", "autoWidth": true },
                        { "data": "CategoryName", "autoWidth": true },
                        { "data": "CompanyName", "autoWidth": true },
                        {
                            mRender: function (data, type, full) {
                                if (full.IsActive === true) {
                                    return "<a href='javascript: void (0)' class='badge badge-pill badge-success'>Active</a>";
                                }
                                else {
                                    return "<a href='javascript: void (0)' class='badge badge-pill badge-danger'>In Active</a>";
                                }
                            }
                        },
                        {
                            mRender: function (data, type, full) {

                                return '<a href="/Master/ItemForm?ItemId=' + full.ItemId + '" class="btn btn-outline-warning btn-sm">Edit</a>' + '   &nbsp;' +
                                    '<a href="#"  onclick=fnDeleteItem("' + full.ItemId + '"); class="btn btn-outline-warning btn-sm" >Delete</a>';
                            }
                        },


                    ],

                    "fixedHeader": {
                        header: true,
                    },
                    "columnDefs": [
                        { orderable: true, "targets": [1, 2] },
                    ],
                    "order": [[0, "desc"]],
                });

                $("#btnAdvanceSearch").click(function (event) {
                    event.preventDefault();
                    table.search(this.value).draw();
                });
            }



        </script>
    }

</div>


