
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = null;
}


<html>
<head>
    <title>Privacyu Policy - Ketan Electronics</title>
    <style>
        .privacy {
            text-align: center;
            font-size: 1.3rem;
            line-height: 1.5;
            letter-spacing: 0rem;
            font-weight: 600;
            margin-bottom: 3rem;
            color: #000000;
            padding-left: 17%;
            padding-right: 17%;
        }

        .mainheader {
            text-align: left;
            font-size: 1.3rem;
            line-height: 1.5;
            letter-spacing: 0rem;
            font-weight: 600;
            margin-bottom: 1rem;
            color: #000000;
        }

        .u-full-width {
            width: 100%;
            box-sizing: border-box;
        }

        .center {
            text-align: center;
        }

        .heading {
            padding-left: 13%;
            padding-right: 13%;
        }

        .title {
            padding-left: 5%;
            margin: 10px;
            font-size: 1.1em;
        }

        h5 {
            display: block;
            font-size: 1.0em;
            margin-block-start: 1.67em;
            margin-block-end: 1.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: 500;
        }

        .contact {
            display: inline-block;
            padding: 30px;
            border-radius: 16px;
            background: #e3e9ec;
        }
    </style>
</head>

<body>
    <nav class="navbar-custom fixed-top" style="position: absolute;">
        <a class="navbar-brand logo-image" href="https://ketan-electronics.business.site/"><img style="width: 21%;height: 20%;" src="~/Content/assets/img/KetanLogo.png" alt="alternative"></a>
    </nav>
    <div class="u-full-width container center">
        <h1 align="center" style="font-size: 4.5rem;">Privacy Policy</h1>
        <h3 class="privacy">We at KEservices App respect your privacy. We are glad to tell you more about which data is accessed, how it is used, and which services we use to enhance your KEservices App experience.</h3>
        <hr>
    </div>
    <div class="heading u-full-width container">
        <h3 class="mainheader"><b>Information we collect</b></h3>

        <h3 class="title">i) Information You provide</h3>
        <h5 class="title">We used User Information like Name, Email, Contact No., Address for using our service. We may collect and store the above mentioned information when You provide it to us.</h5>

        <h3 class="title">ii) Using Your information</h3>
        <h5 class="title">    •	For users who has availed services from our app, we might use  name and other information except contact details to display.</h5>

        <h3 class="mainheader"><b>Purpose of use</b></h3>

        <h5 class="title">Ke Service is committed to protecting your privacy on the Internet. We believe that it is important for you to know what we do with your personal information. When it comes to consumer data collected electronically, Ketan Electronics will provide notice, choice, access and security in ways described below. In general, you, as our customer, can visit Ketan Electronics on the World Wide Web without having to reveal any personal information that you do not want to disclose.</h5>

        <h3 class="mainheader"><b>Point of Contact</b></h3>
        <h5 class="title">The point of contact for requests is shown below. Requests will only be accepted when the person herself/himself, or an agent, sends an email message to the point of contact.</h5>
        <h5 class="title">
            <div class="contact">
                Point of contact<br>
                Company name: KETAN Electronics<br>
                Marketing Manager: Ketanbhai Makim<br>
                Company Address: Airforce Rd, Hari Om Society, Kamdar Colony, Jamnagar, Gujarat 361006<br>
                Company PhoneNo.: +91 8511199156<br>
                Contact email: keservices.in@gmail.com
            </div>
        </h5>

        <h3 class="mainheader"><b>Changes to this Privacy Policy</b></h3>
        <h5 class="title">We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page</h5>
        <h3 class="mainheader"><b>Contact Us</b></h3>
        <h5 class="title">
            Please submit any questions, concerns or comments  You have about this Privacy Policy or any requests concerning
            Your Personal Information via email to <a href="mailto:keservices.in@gmail.com">keservices.in@gmail.com</a>
        </h5>
    </div>
</body>
</html>
